section#single{
  & article{
    box-shadow: none;

    & h1{
      font-size: 2rem;
      margin: .5rem 0;
    }

    & footer{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      padding-top: .5rem;
      border-top: 1px solid black;

      & ul{
        margin-top: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        & li{
          & a{
            background-color: rgba(0,0,0,1);
            color: white;
            font-weight: bold;
            padding: .2rem;
            font-family: Helvetica, sans-serif;
            text-decoration: none;
            transition: all .5s;

            &:hover{
              color: red;
            }
          }
        }
        & li+li{
          margin-left: .5rem;
        }
      }
    }
  }

  & footer#contact-form{
    background-color: rgba(0,0,0,1);
    color: white;
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;

    & form{
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      text-align: left;
      border: 0;
      width: min-content;
      font-family: Helvetica, sans-serif;

      & div{
        &.wpcf7-response-output,
        &.wpcf7-display-none,
        &.wpcf7-mail-sent-ok{
          max-width: 100%;
          margin: 1rem 0 1rem 0;
        }
      }
      & p{
        margin: .3rem 0 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 100%;

        & input{
          font-size: 1rem;
          padding: .5rem;
          font-family: Helvetica, sans-serif;
          background-color: #fff;
          border: none;
          color: #333;
        }

        & span{
          &.ajax-loader{
            display: none;
          }

          & input, & textarea{
            font-family: Helvetica, sans-serif;
            font-size: 1rem;
            border: 0;
            padding: .5rem;
            background-color: rgba(255, 255, 255, 0.08);
            color: #fff;
          }
        }
      }
    }
  }
}