section#single{
  & article{
    box-shadow: none;

    & h1{
      font-size: 2rem;
      margin: .5rem 0;
    }

    & footer{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      padding-top: .5rem;
      border-top: 1px solid black;

      & ul{
        margin-top: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        & li{
          & a{
            background-color: rgba(0,0,0,1);
            color: white;
            font-weight: bold;
            padding: .2rem;
            font-family: Helvetica, sans-serif;
            text-decoration: none;
            transition: all .5s;

            &:hover{
              color: red;
            }
          }
        }
        & li+li{
          margin-left: .5rem;
        }
      }
    }
  }
}