.nav {
  display: flex;
  margin-left: 1rem;
  text-transform: uppercase;
  z-index: 20;

  &__link {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 250ms;

    &:hover,
    &.router-link-exact-active {
      border-bottom: 2px solid #2381e2;
    }

    &.router-link-exact-active {
      cursor: default;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
