.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  min-width: 25%;
  max-width: 100%;

  transition: all 0.5s;

  .query {
    font-family: Helvetica, Calibri, sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: 0;
    width: 100%;
    max-width: 100%;
    height: 3rem;
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    &:focus {
      outline: none;
    }
  }
  .submit {
    color: transparent;
    background-image: url("~@/assets/icons/searchicon-white.png");
    background-size: 3rem;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: right;
    cursor: pointer;
    border: 0;
    height: 3rem;
    padding: 0;
    transform: rotate(-90deg);
  }
}
