.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  padding-bottom: 4rem;
  position: relative;

  &--about {
    align-items: center;
    padding-bottom: 0;
  }
}
