.section{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.section--home-page{
  justify-content: space-between;
  height: 100vh;
  max-height: 100%;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("@{img}/2019/03/cave-1920-1280.jpg");
}
.section--editorial{
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.section--search-result,.section--single{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}